*{
	padding: 0;
	margin: 0;
}
.y_Box{
	overflow: hidden;
}
.allbox{
	clear: both;
}
.imgBox{
	width: 3.28125rem;
	background-color:#fff;
	float: left;
	position: relative;
	z-index: 1;
}
.supDiv{
	border-bottom:1px solid #ccc;
	position: relative;
}
.firstImg{
	width: 1.625rem;
	height: 1.5rem;
	position: absolute;
	top: 42%; 
	left: 20%; 
}
.nameDiv{
	position: absolute;
	font-size: 1.0625rem;
	color: #615869;
    top: 1.625rem;
    left: 3.28125rem;
    font-weight: bold;
}
.disDiv{
	font-size: 0.75rem;
	color: #8d8d8d;
	position: absolute;
	top: 3.125rem;
	left: 3.28125rem;
	font-weight: bold;
}
.aDiv{
    position: absolute;
    top: 1.7rem;
    right: 0.75rem;
}
.aRoute{
    font-size: 0.6875rem;
	color: #548dd2;
	font-weight: bold;
	text-decoration: none;
}