*{
	padding: 0;
	margin: 0;
}
.arrow {
    position: absolute;
    border-right: 16px solid blue;
    border-left: 16px solid transparent;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    font-size: 0;
}
.green {
    position: absolute;
    border-right: 16px solid red;
    border-left: 16px solid transparent;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    left: 4px;
}
